# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/

# VSCode
.vscode/

# Mac OS
.DS_Store
Thumbs.db

# Jest
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tasks file (if its tempotary or build generated)
tasks.json
