# Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
coverage/

# VSCode
.vscode/

# Mac OS
.DS_Store

# Logs
logs/
*.log

# Tasks file (якщо це тимчасовий кеш)
tasks.json
